<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {% include 'header.html' %}
    </head>
    <body class="bg-dark">
        {% include 'nav.html' %}
        <div class="card-group">
            <div class="card h-100">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Publications</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis leo quis odio finibus, vel euismod nisl sodales.</p>
                <p class="card-text"><small class="text-muted">Suspendisse potenti.</small></p>
              </div>
            </div>
            <div class="card h-100">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Journalists</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis leo quis odio finibus, vel euismod nisl sodales.</p>
                <p class="card-text"><small class="text-muted">Suspendisse potenti.</small></p>
              </div>
            </div>
            <div class="card h-100">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Articles</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis leo quis odio finibus, vel euismod nisl sodales.</p>
                <p class="card-text"><small class="text-muted">Suspendisse potenti.</small></p>
              </div>
            </div>
          </div>
    </body>
</html>